name: Cleaner Check on Ubuntu

on:
  pull_request:
    branches: [ main ]
    paths:
    - 'cleanup.sh'
    - '.github/workflows/check_ubuntu.yml'
  push:
    tags:
      - v*
    branches: [ main ]
    paths:
    - 'cleanup.sh'
    - '.github/workflows/check_ubuntu.yml'
  schedule:
    - cron: '1 1 1,15 * *'
  workflow_dispatch:

concurrency:
  group: ci-test-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cleanup:
    if: github.repository == 'rokibhasansagar/slimhub_actions'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]

    steps:
      - uses: actions/checkout@v5
      - name: Raw Environment Checkup
        continue-on-error: true
        env:
          wf_os: ${{matrix.os}}
          state: raw
        run: |
          bash ./.github/checker.sh
      - name: Cleanup Workspace
        uses: rokibhasansagar/slimhub_actions@main
        with:
          retain: "homebrew"
      - name: Clean Environment Checkup
        continue-on-error: true
        env:
          wf_os: ${{matrix.os}}
          state: clean
        run: |
          bash ./.github/checker.sh
